/* src/styles/hero.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap');

.hero-heading {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #5a5a5e;
}

.hero-subheading {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #474749;
}